{% extends "base.html" %}

{% block title %}評分任務條件管理{% endblock %}

{% block body %}
<!-- 導行列 -->
<nav class="mt-3"
    style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Index</a></li>
        <li class="breadcrumb-item active" aria-current="page">評分任務條件管理</li>
    </ol>
</nav>

<!-- 搜尋 -->
<div class="container-fluid">
    <form name="search-form" ENCTYPE="multipart/form-data" method="post"
        action="/ScoreTc?&action=search&page={{page}}&items={{items}}&order=s_tc_no&sort={{sort}}&search={{search_options}}&search_key={{search_key}}">
        <select name="s_terms" id="s_terms">
            <option value="All" id="s_terms-0" {% if search_options=='All' %} selected{% endif %}>顯示全部</option>
            <option value="s_tc_no" id="s_terms-1" {% if search_options=='s_tc_no' %} selected{% endif %}>任務條件序號
            </option>
            <option value="task_condition" id="s_terms-2" {% if search_options=='task_condition' %} selected{% endif %}>
                評分任務條件
            </option>
        </select>
        <span class="input-icon">
            <input type="text" style="margin:0;" name="s_key" id="nav-search-input" aria-controls="table_report"
                placeholder="Search ..." autocomplete="off" value={{search_key}}>
            <i class="icon-search" id="nav-search-icon"></i>
        </span>
    </form>
</div>

<!--Flash 語法-->
{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
    var messages = {{ messages | safe }};
    for (var i = 0; i < messages.length; i++) {
        alert(messages[i]);
    }
</script>
{% endif %}
{% endwith %}

<div class="row-fluid mt-3">
    <div id="table_report_length" class="dataTables_length">
        <lable>
            Display
            <select size="1" id="select_page_items" onChange="relocate(this);">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
                <option value="60">60</option>
                <option value="70">70</option>
                <option value="80">80</option>
                <option value="90">90</option>
                <option value="100">100</option>
            </select>

            <script>
                var _userPageItems = {{ items }};
                for (var i = 0; i < document.getElementById("select_page_items").options.length; i++) {
                    if (document.getElementById("select_page_items").options[i].value == _userPageItems) {
                        document.getElementById("select_page_items").selectedIndex = i;
                        break;
                    }
                }
                function relocate(obj) {
                    var val = obj.options[obj.selectedIndex].value;
                    var url_string = "ScoreTc?page=1";
                    var loc = url_string + '&items=' + val + "&order={{order}}&sort={{sort}}&search={{search_options}}&search_key={{search_key}}";
                    document.location = loc;
                }
            </script>
            records
        </lable>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <table class="table table-striped text-center table-hover">
            <thead>
                <tr>
                    <th scope="col">編號</th>
                    <th scope="col">評分任務條件</th>
                    <th scope="col">最後修改</th>
                    <th scope="col">狀態</th>
                    <th scope="col">
                        <a href="/ScoreTc?action=add&s_tc_no=0" type="button"
                            class="btn btn-outline-primary btn-sm">新增評分任務條件</a>
                        <a href="/ScoreTc?action=generate_task&s_tc_no=0" id="generate_task_all" type="button"
                            class="btn btn-outline-primary btn-sm">產生所有任務</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for aScore, project_no in zip(aScoreTc, aProject_no) %}
                <tr class="{% if project_no|int %2 ==0 %} table-success {% else %} table-light {% endif %}">
                    <th scope="row" name="s_tc_no[]" id="s_tc_no_{{aScoreTc['s_tc_no']}}">{{ aScore['s_tc_no'] }}</th>
                    <td class="text-truncate" style="max-width:500px" data-bs-toggle="tooltip"
                        data-bs-placement="bottom" title="">{{ aScore['task_condition'] }}</td>
                    <td>{{ aScore['modified'] }}</td>
                    <td>
                        {% if aScore['status'] == 2 %}
                        已完成
                        {% elif aScore['status'] == 1 %}
                        已生成任務
                        {% else %}
                        未生成任務
                        {% endif %}
                    </td>
                    <td>
                        <a href="/ScoreTc?action=generate_task&s_tc_no={{aScore['s_tc_no']}}" id="generate_task_{{aScore['s_tc_no']}}" class="btn btn-sm btn-outline-secondary" type="button">生成任務</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row-fluid mb-5">
        <div class="d-flex flex-row-reverse">
            <div class="dataTables_info mb-5 " id="table_report_info">
                Showing {{colstart}} to {{entries}} entries of {{count}}
            </div>
        </div>
        <div class="d-flex flex-row-reverse">
            <div>
                <ul class="pagination pagination-sm">
                    <li class="page-item" {{FirstPageStyle}}>
                        <a class="page-link"
                            href="/ScoreTc?page=1&items={{items}}&order={{order}}&sort={{sort}}&search={{search_options}}&search_key={{search_key}}">第一頁</a>
                    </li>
                    <li class="page-item" {{FirstPageStyle}}>
                        <a class="page-link"
                            href="/ScoreTc?page={{pageprev}}&items={{items}}&order={{order}}&sort={{sort}}&search={{search_options}}&search_key={{search_key}}"
                            aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {%for i in range(pagestart, pageend)%}
                    <li class="page-item  {% if i == page %}active {% endif %}">
                        <a class="page-link"
                            href="/ScoreTc?page={{i}}&items={{items}}&order={{order}}&sort={{sort}}&search={{search_options}}&search_key={{search_key}}">{{i}}</a>
                    </li>
                    {% endfor %}
                    <li class="page-item" {{LastPageStyle}}>
                        <a class="page-link"
                            href="/ScoreTc?page={{pagenext}}&items={{items}}&order={{order}}&sort={{sort}}&search={{search_options}}&search_key={{search_key}}"
                            aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item" {{LastPageStyle}}>
                        <a class="page-link"
                            href="/ScoreTc?page={{lastpage}}&items={{items}}&order={{order}}&sort={{sort}}&search={{search_options}}&search_key={{search_key}}">最後一頁
                        </a>
                    </li>
                    <li>
                        <a> Page {{page}} of {{lastpage}} </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    $(document).ready(function () {
        check_data_status()
        // 待ajax完成重新讀取『產生任務』
        $(document).ajaxComplete(function () {
            var aS_tc_no = get_all_no()
            var chk_num = 0

            aS_tc_no.forEach(e => {
                var s_tc_no_elem = document.getElementById('generate_task_' + e)
                if ((s_tc_no_elem.className).includes('disabled')) {
                    chk_num += 1
                }
            })

            if (chk_num == aS_tc_no.length) {
                $("#generate_task_all").addClass('disabled')
            }
        })
    })

    function check_data_status() {
        // 確認任務條件狀態
        var aS_tc_no = get_all_no()
        var t_url = "/Ajax/check_data_status"
        var data = {
            "target_no": aS_tc_no,
            "no_name": 's_tc_no',
            "table": 'lists_data_google_score_tc'
        }
        $.ajax({
            url: t_url,
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (res) {
                res.forEach(e => {
                    // 更改產生任務狀態
                    if (e['status'] != 0) {
                        $('#generate_task_' + e['no']).addClass('disabled')
                    }
                })
            }
        })
    }

    function get_all_no() {
        // 取得頁面所有s_tc_no
        var s_tc_no_elem = document.getElementsByName('s_tc_no[]')
        var t_url = "/Ajax/check_data_status"
        var aS_tc_no = []

        s_tc_no_elem.forEach(e => {
            aS_tc_no.push(e.textContent)
        })
        return aS_tc_no
    }

    // 取得tooltip elems
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    // 顯示用陣列
    var show_info_arr = []

    tooltipTriggerList.forEach(element => {
        // 拆解各lists_data_tc資料,寫入tooltip array中

        var info = {}
        var score_tc_info = JSON.parse(element.textContent) // read JSON data
        var data_source = (score_tc_info['data_source'] == 'Google_list') ? "Google Maps" : "主庫"  // 更新的資料庫

        element.setAttribute('title', `專案:           ${score_tc_info['project_name']}\n資料來源:   ${data_source}\n執行動作:   ${score_tc_info['function']}\n執行筆數:   ${score_tc_info['gs_no'].length}`)
    })

</script>

{% endblock %}